@{
    ViewData["Title"] = "Home Page";
}
@using LoginReg.Models
@model LoginSubmission

<h1>Login</h1>
<form asp-action="Login" asp-controller="Home" method="post">
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <button type="submit">Login</button>
</form>
<h2>Not registered yet?</h2>
<a class="btn" href="/Register">Register!</a>
