@{
    ViewData["Title"] = "Register";
}
@using LoginReg.Models
@model User

<a href="/">Home</a>

<h1>Register</h1>
<form asp-action="CreateUser" asp-controller="Home" method="post">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" />
    <span asp-validation-for="FirstName"></span>

    <label asp-for="LastName"></label>
    <input asp-for="LastName" />
    <span asp-validation-for="LastName"></span>

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <label asp-for="Confirm"></label>
    <input asp-for="Confirm" />
    <span asp-validation-for="Confirm"></span>

    <button type="submit">Login</button>
</form>
<h2>Not registered yet?</h2>
<a class="btn" href="/Register">Register!</a>
